version: "3.4"
services:

  boty_discordbot:
    container_name: boty_discordbot
    restart: unless-stopped
    image: boty_discordbot:latest
    build:
      context: ./
      dockerfile: dockerfile
    command: ["yarn", "run", "start"]